:root {
  --primary: #A3E7FC;
  --hybe: #E07D33;
  --yge: #65D343;
  --jype: #5CA0EF;
  --sme: #F869B6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: "HelveticaNeue-CondensedBold", "Roboto Condensed", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #0E1114;
  color: #f2f2f2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1279px) {
  .header {
    padding: 1rem 6rem 1rem 6rem;
  }

  .header .top-bar .primary-nav {
    font-size: 1rem;
  }

  .logo {
    width: 10rem;
    height: 2rem;
  }

  .companies-container {
    display: block !important;
  }

  .company-block-photo {
    width: 200% !important;
  }
}

/* long-text class added to lengthy text content for easy reading */
.long-text {
  font-family: Helvetica, Arial, sans-serif;
}

.content-title {
  display: block;
  font-family: "HelveticaNeue-CondensedBold", "Roboto Condensed", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 2rem;
  color: #A3E7FC;
}

/* Additional divs created by tempplates */

#header,
#footer {
  padding: 0rem;
  margin: 0rem;
}

.spacer {
  padding: 0rem 2rem 0rem 2rem;
}

/* Header */
.header {
  background-color: #0E1114;
  padding: 1rem 6rem 1rem 6rem;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.logo {
  font-size: 1.25rem;
  font-weight: bold;
  width: 10rem;
  height: 8rem;
}

.logo img {
  width: 100%;
  height: 100%;
}

.primary-nav {
  display: flex;
  gap: 2.5rem;
}

.menu-item a {
  color: #f2f2f2;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.menu-item a:hover {
  color: var(--primary);
}

/* .menu-item a:visited {
  color: #f2f2f2;
} */

/* Secondary Navbar for buildings page */

.secondary-nav {
  display: flex;
  justify-content: space-between;
  padding: 0rem 6rem 2.5rem 6rem;
}

.secondary-nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 6rem 1rem 6rem;
  border: 2px solid #F2F2F2;
  width: calc(33.33% - 2rem);
  /* 3 secondary-nav-buttons, subtract border and padding */
  text-decoration: none;
  color: #F2F2F2;
}

/* Company Buildings */

.companies-container {
  padding: 0rem 6rem 0rem 6rem;
  display: flex;
}

.company-block {
  padding-bottom: 2rem;
  width: 50%;
  height: 50%;
}

.company-block img {
  padding-bottom: 1rem;
}

.company-block a {
  color: #f2f2f2;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

#hybe a:visited,
#sme a:visited,
#yge a:visited,
#jype a:visited {
  color: #F2F2F2;
}

#hybe,
#hybe a:hover {
  color: var(--hybe);
}

#sme,
#sme a:hover {
  color: var(--sme);
}

#yge,
#yge a:hover {
  color: var(--yge);
}

#jype,
#jype a:hover {
  color: var(--jype);
}


.company-block-name {
  font-size: 24px;
}

.company-block-photo {
  width: 100%;
}

/* Building container */

.building-container {
  font-size: 1.25rem;
  padding: 0rem 6rem 2rem 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.building-img {
  max-width: 50%;
  height: 25%;
}

.building-text .title {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.building-text .heading1 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.heading1Text {
  padding-bottom: 1rem;
}

#building-img2 {
  max-width: 25%;
}

#building-img3,
#building-img4,
#building-img5 {
  max-width: 45%;
}

.logo-container {
  font-size: 1.25rem;
  padding: 2rem 6rem 2rem 6rem;
  display: flex;
  justify-content: right;
  align-items: center;
}

.band-logo {
  width: 5%;
  display: flex;
  justify-content: space-between;
}

/* Building gallery */

.image-container,
.image-container2,
.image-container3 {
  padding: 0rem 6rem 2rem 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-container img {
  max-width: 52%;
  padding: 1rem;
}

.image-container2 img {
  max-width: 25%;
  padding: 1rem;
}

.image-container3 img {
  max-width: 80%;
  padding: 1rem;
}

.image-spacer {
  padding: 0rem 1rem 0rem 1rem;
}

/*  Map container */

.map-container {
  padding: 0rem 6rem 2rem 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-container iframe {
  width: 100%;
  height: 42rem;
}

/* Contact Page styles */

.contact-section {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  padding: 2rem;
}


.contact-container {
  border: thin solid #F2F2F2;
  padding: 2rem;
  width: 80%;
  margin: 1rem auto;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left-side {
  width: 45%;
  height: 100%;
  position: relative;
  padding: 3rem;
}

.details {
  margin: 0.9rem;
  text-align: center;
}

.right-side {
  width: 55%;
}


.input-box {
  border-color: #F2F2F2;
  border-style: solid;
  height: 3.7rem;
  width: 100%;
  margin: 1.25rem 0;
  padding: 0.5rem;
}

.input-box input,
textarea {

  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #F2F2F2;
  background: #0E1114;
  padding: 0 1rem;
  resize: none;
}

.message-box {
  min-height: 25rem;
}

.input-box textarea {
  padding-top: 1rem;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

.contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 6rem 1rem 6rem;
  margin: 1.5rem auto;
  color: #0E1114;
  font-size: 1.2rem;
  background: #F2F2F2;
  border: none;
  width: calc(33.33% - 2rem);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "HelveticaNeue-CondensedBold", "Roboto Condensed", Helvetica, Arial, sans-serif;
}

.contact-button:hover {
  color: #0E1114;
  background: #A3E7FC;
}

/* Accessibility Styles */
.acc-info {
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #f2f2f2;
  display: flex;
  text-align: left;
  padding: 2rem 18rem 4rem 18rem;
}

/* Aboout Us Styles */

.about-us-container {
  display: flex;
  flex-direction: column;
  align-items: justify;
  padding: 2rem 18rem 4rem 18rem;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

.teamshot-container {
  text-align: justify;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.teamshot {
  text-align: center;
}

.teamshot img {
  display: inline-block;
  max-width: 40%;
  margin-bottom: 2rem;
}

.teamshot p {
  text-align: left;
}

/* Tours Styles */

.filter-container {
  position: relative;
  left: 10%;
  display: inline-block;
  width: 10%;
  display: flex;
}

.filter-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

.filter-label {
  display: block;
  font-weight: normal;
  margin-left: 5px;
  float: left;
  width: 0;
}

.filter-selected {
  display: block;
  padding-left: 2rem;
}

.filter-icon {
  display: block;
  font-size: 12px;
  transition: transform 0.2s ease-in-out;
  float: right;
}

.filter-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
  background-color: hsl(0, 0%, 0%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
}

.filter-option {
  display: flex;
  padding: 5px;
  font-size: 14px;
  font-weight: normal;
  white-space: nowrap;
  cursor: pointer;
  justify-content: center;
}

.filter-option:hover {
  background-color: #7e7e7e;
}

.filter-option.disabled {
  color: var(--primary);
  cursor: default;
}

.filter-options.show {
  display: block;
}

.filter-icon.rotate {
  transform: rotate(180deg);
}

#tour-list {
  height: auto;
  padding: 2% 10%;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#tour-list li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 50%;
}

#tour-list li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  width: 100%;
  text-decoration: none;
  cursor: default;
}

.tours-image-container {
  width: 90%;
  display: flex;
  justify-content: center;
  cursor: pointer
}

.tours-image-container img {
  width: 95%;
  height: 40vh;
  display: block;
}

.title-container {
  margin-top: 1vh;
  float: left;
  cursor: pointer
}

.tour-title {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: 100%;
  color: #F2F2F2;
}

.agency {
  display: flex;
  justify-content: center;
  margin-top: 0.5vh;
}

.tag-hybe {
  background-color: var(--hybe);
  color: #F2F2F2;
  padding: 2px 5px;
  border-radius: 3px;
  margin-right: 5px;
}

.tag-jyp {
  background-color: var(--jype);
  color: #F2F2F2;
  padding: 2px 5px;
  border-radius: 3px;
  margin-right: 5px;
}

.tag-sm {
  background-color: var(--sme);
  color: #F2F2F2;
  padding: 2px 5px;
  border-radius: 3px;
  margin-right: 5px;
}

.tag-yg {
  background-color: var(--yge);
  padding: 2px 5px;
  border-radius: 3px;
  margin-right: 5px;
  color: #F2F2F2;
}

/* Terms & Conditions */
.terms-container {
  margin: 3% 20% 3% 20%;
}

.terms-container span {
  padding-bottom: 3%;
}

.terms-container h2 {
  font-size: 1.5rem;
  padding-bottom: 3%;
  text-align: center;
  color: #A3E7FC;
}

.terms-container h3 {
  font-size: 1.25rem;
  padding-bottom: 3%;
  text-align: left;
  text-decoration: underline;
}

.terms-container p {
  font-size: 1.25rem;
  padding-bottom: 2%;
  text-align: justify;
  font-family: Helvetica, Arial, sans-serif;
}

.terms-container ul {
  font-size: 1.25rem;
  padding-bottom: 2%;
  padding-left: 6%;
  font-family: Helvetica, Arial, sans-serif;
}

/* Footer container */
.footer {
  margin-top: auto;
  background-color: #333;
  color: #f2f2f2;
  padding: 2rem;
}

/* Footer logo */
.footer-logo {
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo img {
  width: 6%;
  height: 6%;
}

/* Social media logo container */
.social-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Social media logo */

.social-logo img {
  width: 36%;
  height: 36%;
}

/* Footer navigation bar */
.footer-nav-bar {
  display: flex;
  justify-content: center;
}

/* Footer navigation item */

.footer-nav-item {
  color: #f2f2f2;
  padding-left: 2rem;
  padding-top: 2rem;
}